<div id="container">
    <!-- This element's contents will be replaced with component(s). -->
</div>

<script type="text/babel">
/*---Think in REACT--- (https://reactjs.org/docs/thinking-in-react.html)
We have four Components:
  #1- Modifiable User Table = The entire page
  #2- Input Form = Receives user input: id, firstname, lastname via textboxes and requestType via which button is clicked
  #3- User Table = Displays current data and modifies it based on user input above
  #4- User Rows = Display a row for each user and their corresponding data
Component Heirarchy:
  #1
  --->#2
  --->#3
    --->#4
*/
class UserRow extends React.Component { //#4
    render() {
        const user = this.props.user;
        const id = user.id ?

            user.id : <span>{user.id}</span>;

        return (
            <tr>
                <td>{id}</td>
                <td>{user.firstname}</td>
                <td>{user.lastname}</td>
            </tr>
        );
    }
}

class UserTable extends React.Component {//#3
    render() {
        const rows = [];

        this.props.users.forEach((user) => {
            rows.push( //Calls #4
                <UserRow
                    user={user}
                    key={user.id} />
            );
        });

        return (
            <table>
                <thead>
                    <tr>
                        <th>-User ID-</th>
                        <th>-First Name-</th>
                        <th>-Last Name-</th>
                    </tr>
                </thead>
                <tbody>{rows}</tbody>
            </table>
        );
    }
}

class InputForm extends React.Component {//#2
    render() {
        return (
            <form id="reqForm">
                <div class="container">
                    <h3>Create User</h3>
                    <p>Please fill in this form to create a user.</p>
                    <hr />

                    <p><label><b>ID Number </b></label>
                    <input type="text" placeholder="Enter ID#" name="id" required /></p>

                    <p><label><b>First Name </b></label>
                    <input type="text" placeholder="Enter First Name" name="firstname" required /></p>

                    <p><label><b>Last Name </b></label>
                    <input type="text" placeholder="Enter Last Name" name="lastname" required /></p>

                    <div class="btn-group">
                        <button type="button" class="btn btn-primary" id="createbtn">Create User (POST)</button>
                        <button type="button" class="btn btn-info" id="updatebtn">Update User (PUT)</button>
                        <button type="button" class="btn btn-primary" id="deletebtn">Delete User</button>
                        <button type="button" class="btn btn-info" id="Cancel">Cancel</button>
                    </div>
                </div>
            </form>
        );
    }
}

class ModifiableUserTable extends React.Component { //#1
    render() {
        return ( //Calls #2 & #3
            <div>
                <InputForm /> 
                <UserTable users={this.props.users} />
            </div>
        );
    }
}

//For testing purposes before JSON implementation
const USERS = [
    { "id": "222", "firstname": "Ben", "lastname": "Affleck" },
    { "id": "777", "firstname": "Wei", "lastname": "Cai" },
    { "id": "111", "firstname": "Eric", "lastname": "Fantillo" }
];

//This was rendering properly before changes made to UserRow and UserTable.......
ReactDOM.render(
    <ModifiableUserTable users={USERS} />,
    document.getElementById('container')
);  

</script>